@using DreamHouse.Core.Application.ViewModels.Home
@using DreamHouse.Core.Application.Interfaces.Helpers
@using DreamHouse.Core.Application.Enums
@inject IUserHelper userHelper
@{
    ViewData["Title"] = "Home Page";

    // User things
    var user = userHelper.GetUser();
    string? userPrincipalRole = user?.Roles![^1];

    // Set the controller and action for filtering depending the context
    string controllerForFiltering;
    string actionForFiltering;

    // Default values
    controllerForFiltering = "Home";
    actionForFiltering = "HomeBasic";


    // For HomeClient
    if (ViewBag.PropertiesForClient)
    {
        controllerForFiltering = "Property";
        actionForFiltering = "PropertiesForClient";
    }
    // For HomeAgent
    if (ViewBag.PropertiesForAgent)
    {
        controllerForFiltering = "Property";
        actionForFiltering = "PropertiesForAgent";
    }
    // For HomeFavorites
    if (ViewBag.PropertiesForFavorites)
    {
        controllerForFiltering = "Property";
        actionForFiltering = "PropertiesForFavorites";
    }
    // For HomeMaintenance
    if (ViewBag.PropertiesForMaintenance)
    {
        controllerForFiltering = "Property";
        actionForFiltering = "PropertiesForMaintenance";
    }
    // For PropertiesForSpecifictAgent
    if (ViewBag.PropertiesForSpecifictAgent)
    {
        controllerForFiltering = "Property";
        actionForFiltering = "PropertiesForSpecifictAgent";
    }

}
@model HomeBasicViewModel


<div class="container mt-4">

    @* Put the title and add boton when is mainteniment of porperties *@
    @if (ViewBag.PropertiesForMaintenance)
    {
        <div class="row mb-3 mt-4">
            <div class="d-flex gap-2 p-0">
                <div class="rounded-3 bg-primary p-1 flex-grow-1">
                    <h1 class="fw-bold text-light m-0 p-0 ms-4">Properties</h1>
                </div>
                <a asp-controller="Property" asp-action="Add" class="btn btn-success text-light d-flex align-items-center"><i class="bi bi-plus"></i>Add Property</a>
            </div>
        </div>
    }

    <form method="get" asp-action="@actionForFiltering" asp-controller="@controllerForFiltering">
        <div class="row mb-3">
            <div class="col-md-2">
                <input asp-for="filter!.Code" type="text" class="form-control" name="code" placeholder="Código">
            </div>
            <div class="col-md-2">
                <input asp-for="filter!.Type" type="text" class="form-control" name="type" placeholder="Tipo de Propiedad">
            </div>
            <div class="col-md-2">
                <input asp-for="filter!.MinPrice" type="number" class="form-control" name="minPrice" placeholder="Precio Mínimo">
            </div>
            <div class="col-md-2">
                <input asp-for="filter!.MaxPrice" type="number" class="form-control" name="maxPrice" placeholder="Precio Máximo">
            </div>
            <div class="col-md-2">
                <input asp-for="filter!.Bedrooms" type="number" class="form-control" name="bedrooms" placeholder="Habitaciones">
            </div>
            <div class="col-md-2">
                <input asp-for="filter!.Bathrooms" type="number" class="form-control" name="bathrooms" placeholder="Baños">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a asp-controller="@controllerForFiltering" asp-action="@actionForFiltering" class="btn btn-secondary" asp-route-agentId="@(ViewBag.PropertiesForSpecifictAgent ? ViewBag.AgentId : string.Empty )">
                    Limpiar Filtros
                </a>
            </div>
        </div>

        @* Hide properties *@
        @if (ViewBag.PropertiesForSpecifictAgent)
        {
            <input type="hidden" name="agentId" value="@ViewBag.AgentId">
        }

    </form>

    <div class="products">
        @if (Model.Properties != null && Model.Properties.Any())
        {
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var property in Model.Properties)
                {
                    <div class="col">
                        @* 
                            METODO DE HENDRY PARA HACER CLICK EN UNA TARJETA Y REDIRIGIR AL DETALLE

                            onclick="location.href='@Url.Action("HomeDetail", "DetailProperties", new { id = property.Id })'" 
                        *@
                        <div class="card shadow-sm" style="cursor: pointer;">

                            <img class="card-img-top img-product-size" src="@(property.Images?.FirstOrDefault()?.ImageUrl ?? "https://www.henleyaudio.co.uk/media/images/products/product-noimage.jpg?width=1000")" />

                            <div class="card-body">
                                <div class="d-flex p-0 m-0 justify-content-between">
                                    <div>
                                        <h5 class="card-title">@property.TypeProperty!.Name</h5>
                                        <p class="card-text">
                                            Code: @property.Code<br />
                                            Habitaciones: @property.Bedrooms<br />
                                            Baños: @property.Bathrooms<br />
                                            Tamaño: @property.SquareMeter m²<br />
                                            Tipo de Venta: @property.TypeSale!.Name<br />
                                            Valor: @property.Price$
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="@Url.Action("HomeDetail", "DetailProperties", new { id = property.Id })" class="btn btn-sm btn-outline-secondary">Ver</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>

                                        @* Mark as favorite *@
                                        @if (ViewBag.PropertiesForClient)
                                        {
                                            @if (property.MarkedAsFavorite)
                                            {
                                                <a class="btn btn-warning rounded-3" asp-controller="Property" asp-action="ConfigFavorite" asp-route-propertyId="@property.Id">
                                                    <i class="bi bi-star-fill"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-outline-warning rounded-3" asp-controller="Property" asp-action="ConfigFavorite" asp-route-propertyId="@property.Id">
                                                    <i class="bi bi-star"></i>
                                                </a>
                                            }
                                        }
                                        
                                        @* Show the start *@
                                        @if (ViewBag.PropertiesForFavorites)
                                        {
                                            <i class="bi bi-star-fill text-warning"></i>
                                        }

                                        @* Show the 2 buttons, edit and delete *@
                                        @if (ViewBag.PropertiesForMaintenance)
                                        {
                                            <div class="input-group">
                                                <a class="btn btn-warning rounded-3" asp-controller="Property" asp-action="Edit" asp-route-propertyId="@property.Id">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </a>
                                                <a class="btn btn-danger rounded-3" asp-controller="Property" asp-action="ConfirmDelete" asp-route-propertyId="@property.Id">
                                                    <i class="bi bi-trash3-fill"></i>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No hay propiedades.</p>
        }
    </div>
</div>

<style>
    .card {
        width: 20rem;
    }

    .card-img-top {
        height: 150px;
    }
</style>

