@using DreamHouse.Core.Application.ViewModels.User
@using DreamHouse.Core.Application.Enums;

@model UserSaveViewModel;

@{
    bool editMode = Model.Id == null ? false : true;
    ViewData["Title"] = "Save admin";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="rounded-3 p-1 bg-primary mb-2" >
                <h2 class="fw-bold text-light m-0 p-0 ms-4">@(editMode ? $"Editing the user: {Model.FirstName} {Model.LastName}" : "Create user")</h2>
            </div>

            <div class="card border-0">
                <div class="card-body">
                    @if (Model.ErrorDescription == "Has ocurred an error trying to save the user")
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.ErrorDescription</p>
                            <button type="button" class="btn-close" data-be-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @Html.ValidationMessage("UserDoesntExists", "", new { @class = "text-danger" })

                    <form method="post" asp-controller="AdministrationUser" id="FormSaveUser" asp-action="@(editMode ? "Edit" : "AddUser")">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="FirstName" class="form-label">FirstName: </label>
                            <input asp-for="FirstName" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="LastName" class="form-label">LastName: </label>
                            <input asp-for="LastName" class="form-control">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="UserName" class="form-label">UserName: </label>
                            <input asp-for="UserName" class="form-control">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            @Html.ValidationMessage("DuplicateUserName", "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="IdCard" class="form-label">IdCard: </label>
                            <input asp-for="IdCard" class="form-control">
                            <span asp-validation-for="IdCard" class="text-danger"></span>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Email" class="form-label">Email:</label>
                            <input asp-for="Email" class="form-control"/>
                            <span asp-asp-validation-for="Password"></span>
                            @Html.ValidationMessage("DuplicateEmail", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">

                        @if(editMode)
                        {
                            <div class="col-md-6 mb-3">
                                <label asp-for="Password" class="form-label">Password: </label>
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                @Html.ValidationMessage("PasswordRequired", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("MinPasswordLength", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("LowerCase", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("UpperCase", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("RequireDigit", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("RequireNonAlphanumeric", "", new { @class = "text-danger" })
                            </div>
                    
                            <div class="col-md-6 mb-3">
                                    <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword: </label>
                                    <input asp-for="ConfirmPassword" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 mb-3">
                                <label asp-for="Password" class="form-label">Password: </label>
                                <input required asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                @Html.ValidationMessage("PasswordRequired", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("MinPasswordLength", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("LowerCase", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("UpperCase", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("RequireDigit", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("RequireNonAlphanumeric", "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 mb-3">
                                    <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword: </label>
                                    <input asp-for="ConfirmPassword" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        }
                    
                    </div>

                    <input type="hidden" asp-for="Id"/>
                    @if(Model.Roles !=null)
                    {
                        <input type="hidden" asp-for="UserType" value="@Model.Roles[0]" />
                        <input type="hidden" asp-for="Roles[0]" />
                    }
                    else
                    {
                        <input type="hidden" asp-for="UserType" />
                    }
                    <input type="hidden" asp-for="Status" />


                    <div class="d-flex justify-content-end gap-2">
                            <a asp-controller="AdministrationUser" asp-action="@(Model.UserType == ERoles.ADMIN.ToString() ? "AdminMaintance" : "DeveloperMaintance")" class="btn btn-warning">Cancel</a>
                        <button type="submit" class="btn btn-primary"> Save </button>
                    </div>
                </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
